@import url("https://fonts.googleapis.com/css?family=Cabin");

body,
html {
    font-family: 'Cabin', sans-serif;
    margin: 0 auto;

}

body a,
html a {
    text-decoration: none;
}

header {
    padding: 2rem;
}

header .logo {
    color: black;
    font-weight: bold;
}

header .menu-btn {
    width: 30px;
    float: right;
    cursor: pointer;
}

section {
    padding: 4rem;
}

section h1 {
    font-size: 3rem;
    margin: 8rem auto;
    width: 100%;
    text-transform: uppercase;
    color: aliceblue;
}


#splash {
    background-image: url(IMG_1526.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

nav {
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    padding: 2rem;
    width: calc(100% - 4rem);
    height: calc(100vh - 4rem);
    display: none;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
}

nav .close-button {
    width: 30px;
    float: right;
    cursor: pointer;
    opacity: 0;
}

nav ul {
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
    grid-template-columns: repeat(4, auto);
    width: 90%;

}

nav ul a {
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}

nav ul p {
    color: gray;
    font-size: 1rem;
    margin-top: 20px;


}

nav ul li {
    opacity: 0;

}

.show-menu {
    display: block;
    -webkit-animation: slide-menu 1s ease-in forwards;
    animation: slide-menu 1s ease-in forwards;
}

.show-menu .close-button {
    -webkit-animation: show-x 1s 1s forwards;
    animation: show-x 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
    -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
    animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
    -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
    -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

.show-menu li:nth-of-type(4) {
    -webkit-animation: menu-item-anim .6s forwards 1.8s ease-in-out;
    animation: menu-item-anim .6s forwards 1.8s ease-in-out;
}


@-webkit-keyframes slide-menu {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes slide-menu {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@-webkit-keyframes show-x {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes menu-item-anim {
    from {
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    from {
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}






/* MEDIA QUERIES */
/* Mobile version */
@media only screen and (max-width: 375px) {
    #splash {
        background-image: url(IMG_1526.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 300vw;
        ;






    }

    .transparantlag {
        background-color: rgba(255, 255, 255, 0.51);
        opacity: 0.2;


        border: 2px solid;
        width: 99vw;
        height: 530vw;
        position: relative;
        top: -403vw;
        right: 17vw;
        pointer-events: none;
        z-index: 1;

    }

    body {
        background-color: rgba(169, 169, 169, 0);
        height: 812px;
    }

    h1 {
        font-size: 3rem;
        margin: 3rem;
        width: 80%;
        color: black;
        position: absolute;
        text-align: center;
        top: 70vw;
        left: -3vw;



    }

    h2 {
        font-size: 3rem;
        margin: 3rem;
        width: 10%;
        text-transform: uppercase;
        color: turquoise;
        position: absolute;
        text-align: center;
        top: 70vw;
        left: 61vw;
    }

    h3 {
        font-size: 5rem;
        margin: 3rem;
        width: 10%;
        height: 10%;
        text-transform: uppercase;
        color: turquoise;
        position: absolute;
        text-align: center;
        top: 60vw;
        left: 1vw;
        opacity: 0.7;
        font-family: cursive;
    }

    .ommigtxt p {
        position: relative;
        top: 20vw;
        text-align: center;

    }

    .cvtxt {
        color: black;
        position: relative;
        top: 20vw;
        left: -8vw;
        text-align: center;
    }

    .cvkolon {
        color: turquoise;
        position: relative;
        font-family: "cabin", sans-serif;
        top: -9vw;
        left: 6vw;
        font-size: 3rem;
    }

    .tidsbox {

        background: turquoise;
        color: #000000;
        padding-left: 5px;
        padding-right: 5px;
        line-height: .1px;
        /* position */
        display: inline-block;
        position: relative;
        left: 5vw;
        top: -18vw;
        margin-right: .65em;

    }

    .tidsbox:after {
        content: "";
        position: absolute;
        top: -2.5vw;
        left: 100%;
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: turquoise;
        /* the opposite of the pointing direction */
        border-top-width: .6rem;
        border-right-width: .6rem;
        border-bottom-width: .6rem;
        border-left-width: .6rem;
        border-style: solid;
    }

    .tidsbox2 {

        background: turquoise;
        color: #000000;
        padding-left: 5px;
        padding-right: 5px;
        line-height: .1px;
        /* position */
        display: inline-block;
        position: relative;
        left: -23.4vw;
        top: -9vw;
        margin-right: .65em;

    }

    .tidsbox2:after {
        content: "";
        position: absolute;
        top: -2.5vw;
        left: 100%;
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: turquoise;
        /* the opposite of the pointing direction */
        border-top-width: .6rem;
        border-right-width: .6rem;
        border-bottom-width: .6rem;
        border-left-width: .6rem;
        border-style: solid;
    }

    .tidsbox3 {

        background: turquoise;
        color: #000000;
        padding-left: 5px;
        padding-right: 5px;
        line-height: .1px;
        /* position */
        display: inline-block;
        position: relative;
        left: -52vw;
        margin-right: .65em;

    }

    .tidsbox3:after {
        content: "";
        position: absolute;
        top: -2.5vw;
        left: 100%;
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: turquoise;
        /* the opposite of the pointing direction */
        border-top-width: .6rem;
        border-right-width: .6rem;
        border-bottom-width: .6rem;
        border-left-width: .6rem;
        border-style: solid;
    }

    .tidsbox4 {

        background: turquoise;
        color: #000000;
        padding-left: 5px;
        padding-right: 5px;
        line-height: .1px;
        /* position */
        display: inline-block;
        position: relative;
        left: 19vw;
        top: 4vw;
        margin-right: .65em;

    }

    .tidsbox4:after {
        content: "";
        position: absolute;
        top: -2.5vw;
        left: 100%;
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: turquoise;
        /* the opposite of the pointing direction */
        border-top-width: .6rem;
        border-right-width: .6rem;
        border-bottom-width: .6rem;
        border-left-width: .6rem;
        border-style: solid;
    }

    .portfoliooverskrift {
        border: 6px solid white;
        font-size: 15rem;
        margin: 3rem;
        width: 100%;
        color: black;
        position: relative;
        text-align: center;
        top: -30vw;
        left: -13vw;




    }

    .portfoliooverskrift2 {
        font-size: 3rem;
        margin: 3rem;
        width: 80%;
        color: rgb(248, 246, 246);
        position: relative;
        text-align: center;
        top: 90vw;
        left: -12vw;

    }

    .graaprik {
        color: rgba(255, 249, 253, 0.38);
        font-family: monospace;
        font-size: 6rem;
        margin: 3rem;
        width: 80%;
        height: 25vw;
        position: relative;
        text-align: center;
        top: 5vw;
        left: -4vw;


    }

    .navnbox {
        border: 0.8px solid white;

        border-radius: 90px;
        width: 94%;
        height: 20vw;
        position: relative;
        top: 130vw;
        right: -2.9vw;
        display: block;
        justify-content: center;
        transform: scale(0.);
        z-index: 1;

    }

    .pmjtxtkursiv {
        color: lightcyan;

        font-size: 0.9rem;
        margin: 3rem;
        width: 25%;
        height: 2vw;
        position: relative;
        text-align: center;
        top: 104vw;
        left: 13.4vw;
        transform: scale(2);
        font-family: sans-serif;
        font-weight: 250;
        z-index: 2;

    }




    .peterpanikbillede {
        display: none;
    }

    .slider__contents {
        height: 100%;
        padding: 2rem;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: none;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .slider {
        height: 100%;
        top: -6vw;
        position: relative;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: none;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    footer {
        position: relative;
        background-color: rgba(0, 0, 0, 0.6);
        height: 10vw;
        top: -12vw;





    }

    footer p {
        color: white;
        position: relative;
        justify-content: center;
        font-family: "cabin", sans-serif;
        font-size: 0.6rem;
        text-align: center;
        top: -1vw;
        right: 34vw;

    }

    .footerlogo {
        color: white;
        position: relative;
        justify-content: center;
        font-family: "cabin", sans-serif;
        font-size: 0.6rem;
        text-align: center;
        top: 4vw;
        left: 0.9vw;

    }

    .designbypetertxt {
        color: white;
        position: relative;
        justify-content: center;
        font-family: "cabin", sans-serif;
        font-size: 0.6rem;
        text-align: center;
        top: -7vw;
        left: 69vw;
        width: 31vw;

    }


    #overlay {
        margin: -31px;
        height: 340vw;
        z-index: 4;
    }

    header .close-btn {
        width: 30px;
        float: right;
        cursor: pointer;
        opacity: 1;
        position: relative;
        bottom: 0.5vw;


    }

    nav ul p {
        color: gray;
        font-size: 1rem;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    nav ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;



    }



    #temaer {

        display: flex;
        flex-grow: 1;
        justify-content: center;
        flex-direction: row;
        position: relative;
        top: 40vw;
        height: 100vw;
        padding: 0;






    }

    #temaer p {
        font-family: 'Cabin', sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        color: black;
        position: relative;
        top: 13vw;
        left: 1vw;
    }

    #temaslider {
        display: none;
    }

    .tema1web {
        border: 2px solid turquoise;
        border-radius: 30px;
        width: 40vw;
        height: 40vw;
        position: relative;
        top: 5vw;
        right: 4vw;
    }

    .tema2animation {
        border: 2px solid turquoise;
        border-radius: 30px;
        width: 40vw;
        height: 40vw;
        position: relative;
        top: 10vw;
        left: -4vw;
    }

    .tema3content {
        border: 2px solid turquoise;
        border-radius: 30px;
        width: 40vw;
        height: 40vw;
        position: relative;
        top: 5vw;
        right: -5vw;
    }

    .tema4ux {
        border: 2px solid turquoise;
        border-radius: 30px;
        width: 40vw;
        height: 40vw;
        position: relative;
        top: 10vw;
        right: -5vw;
    }






}

@media only screen and (min-width: 500px) {
    #splash {
        background-image: url(IMG_1526.jpg);
        background-size: cover;
        background-repeat: no-repeat;

    }

    #overlay {
        margin: -32px;
    }

    .peterpanikbillede {
        width: 15vw;
        height: 15vw;
        position: absolute;
        border-radius: 100px;
        top: 0vw;
        left: 6.2vw;
        opacity: 0.8;

    }

    nav {
        position: absolute;
        background: rgba(0, 0, 0, 0.85);
        padding: 2rem;
        width: calc(100% - 4rem);
        height: calc(110vh - 4rem);
        display: none;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }

    nav ul p {
        color: gray;
        font-size: 1rem;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    nav ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;



    }

    #temaer {

        display: flex;
        height: 0.5vw;
        align-items: center;
        display: none;

    }


    #temaer p {
        font-family: 'Cabin', sans-serif;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        color: black;
        position: relative;
        width: 40vw;
        justify-content: space-around;
        flex-direction: row;






    }




}






/* Dekstop version */
@media only screen and (min-width: 728px) {
    #splash {
        background-image: url(IMG_1526.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;

    }

    header .menu-btn {
        width: 30px;
        float: right;
        cursor: pointer;
        opacity: 1;
        position: relative;
        bottom: 0.5vw;
        display: none;


    }

    .peterpanikbillede {
        width: 5vw;
        height: 5vw;
        position: absolute;
        border-radius: 100px;
        top: 0vw;
        left: 2.5vw;
        opacity: 0.8;

    }



    nav ul p {
        color: gray;
        font-size: 1rem;
        margin-top: 20px;
        display: none;
    }

    nav ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 30%
    }

    nav {
        position: absolute;
        background: rgba(0, 0, 0, 0);
        padding: 1rem;





    }

    nav ul a {
        color: black;
        font-weight: bold;
        font-size: 1.4rem;
        position: relative;
        bottom: 9vw;
        left: 33vw;
    }




    header .menu-btn {
        width: 30px;
        float: right;
        cursor: pointer;
        opacity: 1;
        position: relative;
        bottom: 0.5vw;


    }

    section h1::before {
        content: 'portfolio';
        color: aliceblue;
        border-top: 6px solid black;
        border-bottom: 6px solid black;
        display: inline-flex;
        width: 18vw;
    }

    section h1 {
        font-size: 3rem;
        margin: 8rem auto;
        width: 100%;
        text-transform: uppercase;
        color: aliceblue;
        display: flex;
        flex-direction: column;

    }

    #temaer {
        display: flex;
        width: 80vw;
        top: -50vw;
        left: 5vw;
        display: none;



    }

    #temaer p {
        font-family: 'Cabin', sans-serif;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        color: black;
        position: relative;
        width: 10vw;
        justify-content: space-between;






    }

    /***************/
    /* tema slider */

    #temaslider {
        width: 91vw;
        height: 25vw;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0vw;

    }

    .slider {
        height: 100%;
        top: -6vw;
        position: relative;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .slider__nav {
        width: 12px;
        height: 12px;
        margin: 2rem 12px;
        border-radius: 50%;
        z-index: 10;
        outline: 6px solid rgba(0, 255, 255, 0.6);
        outline-offset: -6px;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: relative;
        top: 0vw;
    }

    .slider__nav:checked {
        -webkit-animation: check 0.4s linear forwards;
        animation: check 0.4s linear forwards;
    }

    .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
        left: 0%;
    }

    .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
        left: -100%;
    }

    .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
        left: -200%;
    }

    .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
        left: -300%;
    }

    .slider__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 400%;
        height: 100%;
        -webkit-transition: left 0.4s;
        transition: left 0.4s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    .slider__contents {
        height: 100%;
        padding: 2rem;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .slider__image {
        font-size: 2.7rem;
        color: #2196F3;
    }

    .slider__caption {
        font-weight: 500;
        margin: 2rem 0 1rem;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
    }

    .slider__txt {
        color: #999;
        margin-bottom: 3rem;
        max-width: 300px;
    }

    @-webkit-keyframes check {
        50% {
            outline-color: #333;
            box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
        }

        100% {
            outline-color: #333;
            box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        }
    }

    @keyframes check {
        50% {
            outline-color: #333;
            box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
        }

        100% {
            outline-color: #333;
            box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        }
    }

    footer {
        background-color: rgba(16, 195, 181, 0.54);
        display: flex;
        position: relative;
        height: 15vw;
    }

    footer p {
        color: white;
        width: 20vw;
        height: 1vw;
        position: relative;
        align-self: center;
        left: 41vw;
        justify-content: space-around;
        font-family: "cabin", sans-serif;
        font-size: 1.5rem;

    }



}






/*temaer*/


.tema1web {}

.tema2animation {}

.tema3content {}

.tema4ux {}

/* [1] hover animation */


/* [2] Transition property for smooth transformation of img/text */
.tema1web p {
    transition: transform .5s ease;
}

/* [3] transforming image når container bliver hovered */
.tema1web:hover p {
    transform: scale(1.5);
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}

/* [1] hover animation */


/* [2] Transition property for smooth transformation of img/text */
.tema2animation p {
    transition: transform .5s ease;
}

/* [3] transforming image når container bliver hovered */
.tema2animation:hover p {
    transform: scale(1.5);
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}

/* [1] hover animation */


/* [2] Transition property for smooth transformation of img/text */
.tema3content p {
    transition: transform .5s ease;
}

/* [3] transforming image når container bliver hovered */
.tema3content:hover p {
    transform: scale(1.5);
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}

/* [1] hover animation */


/* [2] Transition property for smooth transformation of img/text */
.tema4ux p {
    transition: transform .5s ease;
}

/* [3] transforming image når container bliver hovered */
.tema4ux:hover p {
    transform: scale(1.5);
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}
