@import url("https://fonts.googleapis.com/css?family=Cabin");

body,
html {
    font-family: 'Cabin', sans-serif;
    margin: 0 auto;

}

body a,
html a {
    text-decoration: none;
}

header {
    padding: 2rem;
}

header .logo {
    color: black;
    font-weight: bold;
}

header .menu-btn {
    width: 30px;
    float: right;
    cursor: pointer;
}

section {
    padding: 4rem;
}

section h1 {
    font-size: 3rem;
    margin: 8rem auto;
    width: 100%;
    text-transform: uppercase;
    color: aliceblue;
}


#splash {
    background-image: url(IMG_1526.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

nav {
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    padding: 2rem;
    width: calc(100% - 4rem);
    height: calc(100vh - 4rem);
    display: none;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
}

nav .close-button {
    width: 30px;
    float: right;
    cursor: pointer;
    opacity: 0;
}

nav ul {
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
    grid-template-columns: repeat(4, auto);
    width: 90%;

}

nav ul a {
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}

nav ul p {
    color: gray;
    font-size: 1rem;
    margin-top: 20px;


}

nav ul li {
    opacity: 0;

}

.show-menu {
    display: block;
    -webkit-animation: slide-menu 1s ease-in forwards;
    animation: slide-menu 1s ease-in forwards;
}

.show-menu .close-button {
    -webkit-animation: show-x 1s 1s forwards;
    animation: show-x 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
    -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
    animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
    -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
    -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

.show-menu li:nth-of-type(4) {
    -webkit-animation: menu-item-anim .6s forwards 1.8s ease-in-out;
    animation: menu-item-anim .6s forwards 1.8s ease-in-out;
}


@-webkit-keyframes slide-menu {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes slide-menu {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@-webkit-keyframes show-x {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes menu-item-anim {
    from {
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    from {
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}






/* MEDIA QUERIES */
/* Mobile version */
@media only screen and (max-width: 375px) {
    #splash {
        background-image: url(IMG_1526.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 303vw;






    }

    #splash2 {
        background-image: url(IMG_1526.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vw;







    }

    #splash3 {
        background-image: url(IMG_1526.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vw;







    }


    .overskrift {
        position: relative;
        top: 0vw;
    }

    .frame {
        width: 20vw;
        height: 20vw;
        position: relative;
        top: -13vw;
        left: 29vw;
        transform: rotate(20grad);
        display: none;

    }



    .mmdtxt {
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        color: #000000;
        font-size: 2rem;
        width: 100vw;
        position: relative;
        top: -10vw;
        left: -5vw;
        text-align: center;
        width: 80vw;
    }

    .mmdtxt3 {
        display: block;
        justify-content: center;
        font-family: sans-serif;
        border-top: 2px solid black;
        color: #000000;
        font-size: 1.3rem;
        position: relative;
        top: -18vw;
        left: 3vw;
        text-align: center;
        color: darkslategray;
        padding-top: 6px;


    }




    .transparantlag {
        background-color: rgba(255, 255, 255, 0.51);
        opacity: 0.2;
        width: 99vw;
        height: 552vw;
        position: relative;
        top: -403vw;
        right: 17vw;
        pointer-events: none;
        z-index: 1;

    }

    body {
        background-color: rgba(169, 169, 169, 0);
        height: 812px;

    }

    h1 {
        font-size: 3rem;
        margin: 3rem;
        width: 80%;
        color: black;
        position: absolute;
        text-align: center;
        top: 70vw;
        left: -3vw;



    }

    h2 {
        font-size: 3rem;
        margin: 3rem;
        width: 10%;
        text-transform: uppercase;
        color: turquoise;
        position: absolute;
        text-align: center;
        top: 70vw;
        left: 61vw;
    }

    h3 {
        font-size: 5rem;
        margin: 3rem;
        width: 10%;
        height: 10%;
        text-transform: uppercase;
        color: turquoise;
        position: absolute;
        text-align: center;
        top: 60vw;
        left: 1vw;
        opacity: 0.7;
        font-family: cursive;
    }

    .ommigtxt p {
        position: relative;
        top: 20vw;
        text-align: center;

    }

    .cvtxt {
        color: black;
        position: relative;
        top: 20vw;
        left: -8vw;
        text-align: center;
    }



    .portfoliooverskrift {
        border: 6px solid white;
        font-size: 13.2rem;
        margin: 3rem;
        width: 100%;
        color: black;
        position: relative;
        text-align: center;
        top: -30vw;
        left: -13vw;
        letter-spacing: inherit;
        font-family: "cabin", sans-serif;




    }



    .portfoliooverskrift3 {
        border: 6px solid white;
        font-size: 14rem;
        margin: 3rem;
        width: 69vw;
        color: black;
        position: relative;
        text-align: center;
        top: -20vw;
        left: -16vw;

    }


    .graaprik {
        color: rgba(255, 249, 253, 0.38);
        font-family: monospace;
        font-size: 6rem;
        margin: 3rem;
        width: 80%;
        height: 25vw;
        position: relative;
        text-align: center;
        top: 18vw;
        left: -4.5vw;


    }

    .cvstreg {
        position: relative;
        width: 9vw;
        left: -17vw;
        top: -22vw;
    }

    .navnbox {
        border: 0.8px solid white;

        border-radius: 90px;
        width: 94%;
        height: 20vw;
        position: relative;
        top: 140vw;
        right: -2.9vw;
        display: block;
        justify-content: center;
        transform: scale(0.);
        z-index: 1;

    }

    .pmjtxtkursiv {
        color: lightcyan;

        font-size: 0.9rem;
        margin: 3rem;
        width: 25%;
        height: 2vw;
        position: relative;
        text-align: center;
        top: 115vw;
        left: 13.4vw;
        transform: scale(2);
        font-family: sans-serif;
        font-weight: 250;
        z-index: 2;

    }




    .peterpanikbillede2 {
        position: relative;
        width: 80vw;
        height: 80vw;
        top: -20vw;
        left: -7vw;
        border-radius: 20px;

    }

    .frametxt {
        display: none;
    }

    .profilbilledetxt {
        position: relative;
        top: -12vw;
        display: inline-flex;
        left: 3vw;
        width: 60vw;
        text-align: center;
        font-family: "cabin", sans-serif;
        font-size: 0.92rem;
        transform: scale(1.5);

    }

    .profilbilledecvtxt {
        position: relative;
        font-family: sans-serif;
        color: #000000;
        font-size: 2rem;
        width: 100vw;
        position: relative;
        top: -10vw;
        left: 8vw;
        text-align: center;
        width: 20vw;
    }

    .cvtextunderprofilbillede {
        position: relative;
        font-family: sans-serif;
        color: #000000;
        font-size: 1rem;
        width: 50vw;
        position: relative;
        top: 337vw;
        left: 31vw;
        text-align: center;

    }


    .col_wide_txt p {
        position: relative;
        width: 30vw;
        height: 5.5vw;
        left: -10vw;

    }

    .col_narrow_txt {
        position: absolute;
        top: 0vw;
    }


    .upknap {
        position: relative;
        font-family: "cabin", sans-serif;
        font-weight: 200;
        font-size: 8rem;
        width: 20vw;
        height: 20vw;
        position: relative;
        top: 320vw;
        left: 40vw;
        text-align: center;
        transform: rotate(300grad);
        background-color: rgba(234, 234, 234, 0.74);
        border-radius: 900px;
        opacity: 1;
        z-index: 1;

    }

    .upknap p {
        position: relative;
        font-family: "cabin", sans-serif;
        font-weight: 200;
        color: black;
        text-shadow: 20px black;
        font-size: 3rem;
        height: 5vw;
        position: relative;
        top: 1.4vw;
        text-align: center;
        transform: rotate(00grad);

    }

    .footer3 {
        position: relative;
        top: 320vw;
        height: 10vw;
        background-color: rgba(0, 0, 0, 0.85);
    }

    .portfoliotxtfooter {
        color: white;
        position: relative;
        justify-content: center;
        font-family: "cabin", sans-serif;
        font-size: 0.6rem;
        text-align: center;
        top: -7vw;
        width: 31vw;
    }

    .slider__contents {

        display: none;

    }

    .slider {

        display: none;

    }

    footer {
        position: relative;
        background-color: rgba(0, 0, 0, 0.6);
        height: 10vw;
        top: -12vw;





    }

    footer p {
        color: white;
        position: relative;
        justify-content: center;
        font-family: "cabin", sans-serif;
        font-size: 0.6rem;
        text-align: center;
        top: -1vw;
        right: 34vw;

    }

    .footerlogo {
        color: white;
        position: relative;
        justify-content: center;
        font-family: "cabin", sans-serif;
        font-size: 0.6rem;
        text-align: center;
        top: 4.2vw;
        left: 49vw;
        width: 4vw;
        height: 2vw;

    }

    .portfoliotxtfooter {
        color: white;
        position: relative;
        justify-content: center;
        font-family: "cabin", sans-serif;
        font-size: 0.6rem;
        text-align: center;
        top: 0;
        left: 4vw;
        width: 30vw;
        height: 0;


    }


    .footerlogo2 {
        color: white;
        position: relative;
        justify-content: center;
        font-family: "cabin", sans-serif;
        font-size: 0.8rem;
        text-align: center;
        top: 4vw;
        left: 1.5vw;
        width: 98vw
    }

    .designbypetertxt {
        color: white;
        position: relative;
        justify-content: center;
        font-family: "cabin", sans-serif;
        font-size: 0.6rem;
        text-align: center;
        top: -5.5vw;
        left: 68vw;
        width: 31vw;

    }

    .designbypetertxt2 {
        color: white;
        position: relative;
        justify-content: center;
        font-family: "cabin", sans-serif;
        font-size: 0.8rem;
        text-align: center;
        top: -11vw;
        left: 75vw;
        width: 20vw;

    }

    .footer2portfoliotxt {
        font-size: 0.8rem;
        position: relative;
        top: -4vw;
        width: 20vw;
        left: 9vw;

    }

    .footer2 {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        height: 3vw;
        width: 91vw;
        top: -12vw;
        display: none;

    }



    #overlay {
        margin: -31px;
        height: 463vw;
        z-index: 4;
    }

    header .close-btn {
        width: 30px;
        float: right;
        cursor: pointer;
        opacity: 1;
        position: relative;
        bottom: 0.5vw;


    }

    nav ul p {
        color: gray;
        font-size: 1rem;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    nav ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;



    }





    #temaer p {
        font-family: 'Cabin', sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        color: black;
        position: relative;
        top: 13vw;
        left: 1vw;
    }

    #temaslider {
        display: none;
    }

    /*temaer*/
    #temaer2 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 4%;
        position: relative;
        left: 0;
        top: 0;


    }

    .tema3content {

        background-color: rgb(11, 11, 11);
        opacity: 0.8;
        color: aliceblue;
        font-size: 2rem;
        text-align: center;
        width: 60vw;
        height: 50vw;
        position: relative;
        top: 0;
        flex-basis: 300px;
        justify-content: center;
        display: flex;



    }

    .tema4ux {

        background-color: rgb(11, 11, 11);
        opacity: 0.8;
        color: aliceblue;
        font-size: 2rem;
        text-align: center;
        width: 60vw;
        height: 50vw;
        position: relative;
        margin-left: 5vw;
        flex-basis: 300px;

    }

    .tema3content p {
        position: relative;
        top: 12vw;
        height: 5vw;
    }

    .tema4ux p {
        position: relative;
        top: 12vw;
    }





}

@media only screen and (min-width: 500px) {
    #splash {
        background-image: url(IMG_1526.jpg);
        background-size: cover;
        background-repeat: no-repeat;

    }

    #overlay {
        margin: -32px;
    }

    .peterpanikbillede {
        width: 15vw;
        height: 15vw;
        position: absolute;
        border-radius: 100px;
        top: 0vw;
        left: 6.2vw;
        opacity: 0.8;

    }

    nav {
        position: absolute;
        background: rgba(0, 0, 0, 0.85);
        padding: 2rem;
        width: calc(100% - 4rem);
        height: calc(110vh - 4rem);
        display: none;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }

    nav ul p {
        color: gray;
        font-size: 1rem;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    nav ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;



    }

    #temaer {

        display: flex;
        height: 0.5vw;
        align-items: center;
        display: none;

    }


    #temaer p {
        font-family: 'Cabin', sans-serif;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        color: black;
        position: relative;
        width: 40vw;
        justify-content: space-around;
        flex-direction: row;






    }




}






/* Dekstop version */
@media only screen and (min-width: 728px) {
    #splash {
        background-image: url(IMG_1526.jpg);
        background-size: 100% 80%;
        background-repeat: no-repeat;
        width: 91.2vw;
        height: 50vh;
        cursor: pointer;
        position: relative;




    }

    .peterpanikbillede {
        width: 20vw;
        height: 20vw;
        position: relative;
        border-radius: 100px;
        top: 0vw;
        left: 2.5vw;
        opacity: 0.8;
        display: none;


    }




    nav ul p {
        color: gray;
        font-size: 1rem;
        margin-top: 20px;
        display: none;
    }

    nav ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60vw;
        height: 0;
        float: left;
    }

    nav {
        position: absolute;
        background: rgba(0, 0, 0, 0);
        padding: 1rem;





    }

    nav ul a {
        color: black;
        font-weight: bold;
        font-size: 1.1rem;
        position: relative;
        bottom: 8.7vw;
        left: 36vw;
    }




    header .menu-btn {
        width: 30px;
        float: right;
        cursor: pointer;
        opacity: 1;
        position: relative;
        bottom: 0.5vw;



    }


    #temaer {
        display: flex;
        width: 80vw;
        top: -50vw;
        left: 5vw;
        display: none;



    }

    #temaer p {
        font-family: 'Cabin', sans-serif;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        color: black;
        position: relative;
        width: 10vw;
        justify-content: space-between;






    }

    /***************/
    /* tema slider */

    #temaslider {
        width: 91vw;
        height: 25vw;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        justify-content: center;
        align-content: center;
        font-size: 1.3rem;


    }

    .slider {
        height: 100%;
        top: -10vw;
        left: 0vw;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: center;
    }

    .slider__nav {
        width: 12px;
        height: 12px;
        margin: 2rem 12px;
        border-radius: 60%;
        z-index: 10;
        outline: 7px solid #d4d4d1;
        outline-offset: -6px;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        cursor: pointer;
        appearance: none;
        backface-visibility: hidden;
        position: relative;
        top: 0vw;
        display: flex;
        align-content: center;

    }

    .slider__nav:checked {
        -webkit-animation: check 0.4s linear forwards;
        animation: check 0.4s linear forwards;
    }

    .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
        left: 0%;
    }

    .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
        left: -100%;
    }

    .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
        left: -200%;
    }

    .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
        left: -300%;
    }

    .slider__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 400%;
        height: 100%;
        transition: left 0.4s;
        display: flex;
        flex-flow: row nowrap;
    }

    .slider__contents {
        height: 100%;
        text-align: center;
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }


    .slider__image {
        color: #2196F3;
        position: relative;
        height: 11vw;



    }


    .slider__txt {
        color: #999;
        margin-bottom: 3rem;
        max-width: 300px;
        text-align: center;
    }

    @-webkit-keyframes check {
        50% {
            outline-color: #333;
            box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
        }

        100% {
            outline-color: #333;
            box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        }
    }

    @keyframes check {
        50% {
            outline-color: #333;
            box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
        }

        100% {
            outline-color: #333;
            box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        }
    }

    footer {
        background-color: black;
        display: flex;
        position: relative;
        top: 0vw;

    }

    footer p {
        color: white;
        width: 35vw;
        position: relative;
        align-self: center;
        text-align: center;
        justify-content: space-between;
        font-family: "cabin", sans-serif;
        font-size: 0.7rem;

    }


    #splash2 {
        background-image: url(IMG_1526.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 91vw;
        height: 160vh;









    }

    #splash3 {
        background-image: url(IMG_1526.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 91vw;
        height: 40vh;









    }


    .mmdtxt {
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        color: #000000;
        font-size: 3rem;
        position: relative;
        top: 2vw;
        left: 0;
        letter-spacing: 0;
        text-align: center;
        width: 26vw;
    }

    .mmdtxt3 {
        display: block;
        justify-content: center;
        font-family: sans-serif;
        border-top: 2px solid black;
        color: #000000;
        font-size: 1.3rem;
        position: relative;
        top: -1vw;
        left: -3vw;
        width: 30vw;
        text-align: center;
        color: darkslategray;
        padding-top: 6px;


    }

    .footer2portfoliotxt {
        opacity: 0;
    }

    .frame {
        width: 25vw;
        height: 25vw;
        position: absolute;
        top: 40vw;
        left: 71vw;
        transform: rotate(20grad);
        border-radius: 30%;


    }

    .frametxt {
        position: absolute;
        top: 57vw;
        left: 71vw;
        font-family: sans-serif;
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: whitesmoke;
        z-index: 5;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 20%;
        transform: rotate(20grad);
    }




    .transparantlag {
        background-color: rgba(255, 255, 255, 0.51);
        opacity: 0.2;


        border: 2px solid;
        width: 121.2vw;
        height: 200vw;
        position: relative;
        top: -86vw;
        right: 17vw;
        pointer-events: none;
        z-index: 1;
        display: none;

    }

    body {
        background-color: rgba(169, 169, 169, 0);
        height: 812px;

    }

    h1 {
        font-size: 3rem;
        margin: 3rem;
        width: 80%;
        color: black;
        position: absolute;
        text-align: center;
        top: 70vw;
        left: -3vw;



    }

    h2 {
        font-size: 3rem;
        margin: 3rem;
        width: 10%;
        text-transform: uppercase;
        color: turquoise;
        position: absolute;
        text-align: center;
        top: 70vw;
        left: 61vw;
    }

    h3 {
        font-size: 5rem;
        margin: 3rem;
        width: 10%;
        height: 10%;
        text-transform: uppercase;
        color: turquoise;
        position: absolute;
        text-align: center;
        top: 60vw;
        left: 1vw;
        opacity: 0.7;
        font-family: cursive;
    }

    .ommigtxt p {
        position: relative;
        top: 20vw;
        text-align: center;

    }

    .cvtxt {
        color: black;
        position: relative;
        top: 20vw;
        left: -8vw;
        text-align: center;
    }



    .portfoliooverskrift {
        border: 6px solid white;
        font-size: 14rem;
        margin: 3rem;
        width: 20%;
        color: black;
        position: relative;
        text-align: center;
        top: -3vw;
        left: 33vw;

    }

    .portfoliooverskrift2 {
        border: 6px solid white;
        font-size: 15rem;
        margin: 3rem;
        width: 100%;
        color: black;
        position: relative;
        text-align: center;
        top: -25vw;
        left: -13vw;

    }

    .portfoliooverskrift3 {
        border: 6px solid white;
        font-size: 14rem;
        margin: 3rem;
        width: 20%;
        color: black;
        position: relative;
        text-align: center;
        top: -2.5vw;
        left: 32vw;
    }

    .graaprik {
        color: rgba(255, 249, 253, 0.38);
        font-family: monospace;
        font-size: 6rem;
        margin: 3rem;
        width: 80%;
        height: 25vw;
        position: relative;
        text-align: center;
        top: 5vw;
        left: -4vw;
        display: none;


    }

    .cvstreg {
        position: relative;
        width: 9vw;
        left: -17vw;
        top: -22vw;
        display: none;
    }

    .navnbox {
        border: 0.8px solid white;

        border-radius: 90px;
        width: 94%;
        height: 20vw;
        position: relative;
        top: 130vw;
        right: -2.9vw;
        display: block;
        justify-content: center;
        transform: scale(0.);
        z-index: 1;
        display: none;

    }

    .pmjtxtkursiv {
        color: lightcyan;

        font-size: 0.9rem;
        margin: 3rem;
        width: 25%;
        height: 2vw;
        position: relative;
        text-align: center;
        top: 104vw;
        left: 13.4vw;
        transform: scale(2);
        font-family: sans-serif;
        font-weight: 250;
        z-index: 2;
        display: none;

    }




    .peterpanikbillede2 {
        position: absolute;
        width: 20vw;
        height: 20vw;
        top: 43vw;
        left: 73.5vw;
        border-radius: 80px;
        transform: rotate(20grad);


    }

    .profilbilledetxt {
        position: relative;
        top: 0;
        left: -1vw;
        text-align: justify;
        font-family: "cabin", sans-serif;
        font-size: 0.92rem;
        transform: scale(1.2);
        display: flex;
        justify-content: flex-start;
        width: 25vw;
        float: left;


    }

    .profilbilledecvtxt {
        position: relative;
        font-family: sans-serif;
        color: #000000;
        font-size: 2rem;
        width: 100vw;
        position: relative;
        top: -30vw;
        left: 8vw;
        text-align: center;
        width: 20vw;
        display: none;

    }

    .cvtextunderprofilbillede {
        position: absolute;
        font-family: sans-serif;
        color: #000000;
        font-size: 1rem;
        position: relative;
        top: 25vw;
        left: 7vw;
        text-align: center;
        width: 20vw;


    }

    .cvtextunderprofilbilledekea {
        position: absolute;
        font-family: sans-serif;
        color: #000000;
        font-size: 1rem;
        position: relative;
        top: 23.5vw;
        left: 6.6vw;
        text-align: center;
        width: 20vw;


    }

    .col_wide_txt {
        position: absolute;
        top: 80vw;
        left: 1vw;
    }


    .upknap {
        position: relative;
        font-family: "cabin", sans-serif;
        font-weight: 200;
        font-size: 8rem;
        width: 20vw;
        height: 20vw;
        position: relative;
        top: 2vw;
        left: 22vw;
        text-align: center;
        width: 20vw;
        transform: rotate(300grad);
        background-color: rgba(234, 234, 234, 0.74);
        border-radius: 900px;
        opacity: 1;
        z-index: 1;
        display: none;

    }

    .upknap p {
        position: relative;
        font-family: "cabin", sans-serif;
        font-weight: 200;
        color: black;
        text-shadow: 20px black;
        font-size: 3rem;
        width: 5vw;
        height: 5vw;
        position: relative;
        top: 1.4vw;
        text-align: center;
        width: 20vw;
        transform: rotate(00grad);
        display: none;

    }

    .footer3 {
        position: relative;
        top: 90vw;
        height: 3vw;
        display: none;
    }

    .overskrift {
        top: -65vw;
        left: 6vw;
        text-align: center;
        justify-content: center;
        display: flex;
        position: relative;
    }


    /*temaer*/
    #temaer2 {
        width: 60.7vw;
        height: 90vh;
        display: flex;
        justify-content: space-between;
        margin: 0;
        flex-direction: column;
        position: absolute;
        left: 15vw;
        top: 40vw;

    }

    #temaer3 {
        width: 20.7vw;
        height: 90vh;
        display: flex;
        justify-content: space-between;
        margin: 0;
        flex-direction: column;
        position: absolute;
        left: 55vw;
        top: 40vw;
    }

    .tema3content {
        background-color: rgb(11, 11, 11);
        opacity: 1;
        color: aliceblue;
        font-size: 2rem;
        text-align: center;
        width: 20vw;
        height: 20vw;
        position: relative;
        top: 0;
        flex-basis: 300px;
        border-radius: 20%;

    }



    .tema4ux {
        background-color: rgb(11, 11, 11);
        opacity: 1;
        color: aliceblue;
        font-size: 2rem;
        text-align: center;
        width: 20vw;
        height: 20vw;
        position: relative;
        top: 0;
        flex-basis: 300px;
        border-radius: 20%;

    }


    .tema3content p {
        position: relative;
        top: 7vw;
    }



    .tema4ux p {
        position: relative;
        top: 7vw;
    }

    /* [1] hover animation */


    /* [2] Transition property for smooth transformation of img/text */
    .tema1web p {
        transition: transform .5s ease;
    }

    /* [3] transforming image når container bliver hovered */
    .tema1web:hover p {
        transform: scale(1.5);
        transition: all 0.8s ease-in-out;
        cursor: pointer;
    }

    /* [1] hover animation */


    /* [2] Transition property for smooth transformation of img/text */
    .tema2animation p {
        transition: transform .5s ease;
    }

    /* [3] transforming image når container bliver hovered */
    .tema2animation:hover p {
        transform: scale(1.5);
        transition: all 0.8s ease-in-out;
        cursor: pointer;
    }

    /* [1] hover animation */


    /* [2] Transition property for smooth transformation of img/text */
    .tema3content p {
        transition: transform .5s ease;
    }

    /* [3] transforming image når container bliver hovered */
    .tema3content:hover p {
        transform: scale(1.5);
        transition: all 0.8s ease-in-out;
        cursor: pointer;
    }

    /* [1] hover animation */


    /* [2] Transition property for smooth transformation of img/text */
    .tema4ux p {
        transition: transform .5s ease;
    }

    /* [3] transforming image når container bliver hovered */
    .tema4ux:hover p {
        transform: scale(1.5);
        transition: all 0.8s ease-in-out;
        cursor: pointer;
    }



}
